body, * {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

nav a {
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h1, h2 {
    margin-bottom: 10px;
}

a {
    color: #333;
}

a:hover {
    color: #555;
}

main {
    padding: 10px;
}

aside {
    float: none;
    width: 100%;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
}

main section article {
    display: block;
}

main section article div {
    margin-right: 0;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: static;
    padding: 5px;
}

article {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* style de flexbox */
.container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    max-width: 400px;
}

.header, .row {
    display: flex;
    border-bottom: 1px solid black;
}

.header {
    font-weight: bold;
    border-bottom: 2px solid black;
}

.cell {
    flex: 1;
    padding: 10px;
}

.recipe-info {
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.steps {
    margin-top: 20px;
}

.steps strong {
    display: block;
    margin-top: 10px;
}